In [1]:
import pandas as pd
import psycopg2

In [8]:
# establish connection using information supplied in documentation
conn = psycopg2.connect(host="10.8.244.31",
                       database="climate_data",
                       user="ado_user",
                       password="hydro#ado",
                       port=5432)
cur = conn.cursor()

In [9]:
# get the metadata
query = """
SELECT * FROM hydrology.discharge WHERE id_station='ADO_DSC_FRK2_0041'
"""

tbl_meta = pd.read_sql_query(query, conn)
tbl_meta.info()
tbl_meta.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40908 entries, 0 to 40907
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_station      40908 non-null  object
 1   date            40908 non-null  object
 2   discharge_m3_s  21049 non-null  float64
 3   quality         40908 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.2+ MB

          id_station        date  discharge_m3_s         quality
0  ADO_DSC_FRK2_0041  1910-01-01            24.4  no information
1  ADO_DSC_FRK2_0041  1910-01-02            22.6  no information
2  ADO_DSC_FRK2_0041  1910-01-03            21.0  no information
3  ADO_DSC_FRK2_0041  1910-01-04            18.6  no information
4  ADO_DSC_FRK2_0041  1910-01-05            16.6  no information

In [5]:
# close the connection when finished
cur.close()
conn.close()